<?php

if (!file_exists(__DIR__.'/vendor/autoload.php'))
    throw new Exception('Auloader not found. did u run composer install with dev dependecies?');

return require_once __DIR__.'/vendor/autoload.php';